build
dist
*.egg-info
**/*.pyc
GTSRB/
GTSRB_CLEAN/
airplane/
airplane_trig/
automobile/
automobile_trig/
bird/
bird_trig/
cat/
cat_trig/
deer/
deer_trig/
dog/
dog_trig/
frog/
frog_trig/
horse/
horse_trig/
ship/
ship_trig/
truck/
truck_trig/
